doctype html
html
  head
    title abdurrab dance academy
    block scripts
    block style
  body
    nav#navbar
        ul
            #logo
                img(src="/static/logo.png.png")
            li #[a(href='/') home ]
            li #[a(href='/about') About ]
            li #[a(href='/classinfo') Class info ]
            li #[a(href='/contact') Contact us ]
            li #[a(href='/services') Services ]
    block content
    footer#footer
        | Copyright 2020 |All right reserved
