//- index.pug
doctype html
html
  head
    script(src='../static/index.js')
    style
      include ../static/style.css
  body
   
    section#introSection
        div Welcome to Abdurrab khan dance academy
        div Eat sleep dance repeat
    section#ourMission
        h2 Our mission
        .card
            h2 our best practices
            div.card-box
                .card-img
                    img(src="/static/bg1.png", alt="alt")
                    h1 AkD
                .card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptates vitae ad.

        .card
            h2 our best practices
             div.card-box
                .card-img
                    img(src="/static/bg2.png", alt="alt")
                .card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptates vitae ad.
        .card
            h2 our best practices
             div.card-box
                .card-img
                    img(src="/static/bg1.png", alt="alt")
                .card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa voluptates vitae ad.
    section#sponserSection
        img(src="/static/logo1.png", alt="", srcset="")
        img(src="/static/logo2.png", alt="", srcset="")
        img(src="/static/logo3.png", alt="", srcset="")
        img(src="/static/logo4.png", alt="", srcset="")
    footer#footer
        | Copyright 2020 |All right reserved
