extends base.pug


block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/stylecontact.css
block content
    h1 Our services
    p we are providing best dance preformance we are now eligible for many work like we will teach you 
      |many things about and many types of dance we are here for you please visit our dance academy and take some courses for free its time many courses are free for lockdown until january so please visite before january we will happy to see you here Thanks you